
#pivotgrid {
  margin-top: 20px;
  border: 1px solid black;
  padding: 0;
}


.dx-pivotgrid-area-column .dx-area-field {
  background-color: #f0f0f0; /* Light gray background */
  font-weight: bold;
  text-align: center;
}